:host {
    height: 100%;
    display: block;
    overflow: hidden;
}

.list {
    &__wrapper {
        display: block;
        height: 100%;
        overflow: auto;
    }

    &__content {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--color-divider-subtle);
    }

    &__item {
        &:hover {
            background-color: var(--color-ks-line);
        }

        &--dark {
            background-color: var(--color-drag-drop-active);
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        height: 100%;
    }

    &__empty-title {
        font-size: 14px;
        color: var(--color-text-primary);
    }

    &__empty-description {
        font-size: 12px;
        color: var(--color-text-secondary);
    }
}
