<div class="list__wrapper">
    <ol
        class="list__content"
        [style.width]="width()"
    >
        @for (item of items(); track item; let i = $index; let odd = $odd) {
            <li
                class="list__item"
                [class.list__item--dark]="odd"
            >
                <ng-container
                    *ngTemplateOutlet="rowTemplate;
                        context: { $implicit: item, index: i }"
                />
            </li>
        }
    </ol>
</div>
