<div class="files-area">
  <ng-container *ngIf="selectedCollection; else noCollection">
    <app-collection-header
      (uploadFiles)="onUploadFiles()"
    ></app-collection-header>

    <ng-container *ngIf="hasFiles; else noFiles">
      <ng-container *ngIf="filteredSources.length > 0; else noSearchResults">
        <div class="files-list">
          <app-file-item
            *ngFor="let source of filteredSources"
            [source]="source"
          ></app-file-item>
        </div>
      </ng-container>

      <ng-template #noSearchResults>
        <div class="zero-files">
          <div class="file-icon">
            <svg width="48" height="48" viewBox="0 0 24 24">
              <path
                d="M10 10l4 4m0-4l-4 4"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <path
                d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                stroke="currentColor"
                fill="none"
              />
            </svg>
          </div>
          <p>No files match your search</p>
          <div class="search-info">
            Try adjusting your search terms or clear the search to view all
            files
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #noFiles>
      <div class="zero-files">
        <div class="file-icon">
          <svg width="48" height="48" viewBox="0 0 24 24">
            <path
              d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
              stroke="currentColor"
              fill="none"
            />
            <polyline
              points="14 2 14 8 20 8"
              stroke="currentColor"
              fill="none"
            />
          </svg>
        </div>
        <p>No files in this collection yet</p>
        <div class="supported-file-types">
          Supported file types:
          <span class="file-type">PDF</span>,
          <span class="file-type">CSV</span>,
          <span class="file-type">DOCX</span>,
          <span class="file-type">TXT</span>,
          <span class="file-type">JSON</span>,
          <span class="file-type">HTML</span>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #noCollection>
    <div class="zero-files">
      <div class="file-icon">
        <svg width="48" height="48" viewBox="0 0 24 24">
          <path
            d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
            stroke="currentColor"
            fill="none"
          />
          <polyline points="14 2 14 8 20 8" stroke="currentColor" fill="none" />
        </svg>
      </div>
      <p>Select a collection to view files</p>
      <div class="supported-file-types">
        Supported file types:
        <span class="file-type">PDF</span>, <span class="file-type">CSV</span>,
        <span class="file-type">DOCX</span>, <span class="file-type">TXT</span>,
        <span class="file-type">JSON</span>,
        <span class="file-type">HTML</span>
      </div>
    </div>
  </ng-template>
</div>
