<div
    class="drag-drop"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
>
    <div class="drag-drop__content">
        <ng-content />
    </div>

    @if (isDragging()) {
        <div class="drag-drop__overlay">
            <h3 class="drag-drop__title">Upload files</h3>
            <p class="drag-drop__label">
                Drag and drop files here
            </p>

            <div class="drag-drop__icon">
                <app-icon icon="ui/upload" size="2rem" />
            </div>

            @if (allowedTypes().length) {
                <h3 class="drag-drop__types">
                    Allowed file types:
                    <span class="drag-drop__types-list">
                    {{ allowedTypes().join(', ') | uppercase }}
                </span>
                </h3>
            }
        </div>
    }
</div>
