<div class="create-model">
    <div class="create-model__header">
        <h3 class="create-model__title">{{ isEditMode ? 'Edit Realtime Model' : 'Add Realtime Model' }}</h3>
        <button type="button" class="create-model__close-btn" (click)="onClose()">
            <app-svg-icon icon="x" size="0.875rem" />
        </button>
    </div>

    <div class="create-model__content" [formGroup]="form">
        <div class="create-model__field">
            <app-tooltip [required]="true" [tooltipText]="'Provider'" [label]="'Provider'" />
            <div class="create-model__provider">
                <app-svg-icon [icon]="getProviderIcon(provider.name)" size="1rem" />
                <span>{{ provider.name | uppercase }}</span>
            </div>
        </div>

        <div class="create-model__field">
            <app-custom-input
                placeholder="Enter model name"
                tooltipText="Model name"
                label="Model Name"
                [required]="true"
                formControlName="name"
            />
            <app-validation-errors [control]="form.get('name')!" />
        </div>
    </div>

    <div class="create-model__footer">
        <app-button type="outline-primary" (click)="onClose()" [disabled]="isSubmitting()"> Cancel </app-button>
        <app-button type="primary" (click)="onSubmit()" [disabled]="form.invalid || isSubmitting()">
            {{
                isSubmitting()
                    ? isEditMode
                        ? 'Saving...'
                        : 'Adding...'
                    : isEditMode
                      ? 'Save Changes'
                      : 'Add Realtime Model'
            }}
        </app-button>
    </div>
</div>
