<div class="create-agent">
    <div class="create-agent__header">
        <h2 class="create-agent__title">
            {{ isEditMode ? 'Edit Agent' : 'Create New Agent' }}
        </h2>
        <button mat-icon-button class="create-agent__close-button" (click)="onCancelForm()" [disabled]="isSubmitting()">
            <app-svg-icon icon="close" size="24px" />
        </button>
    </div>

    <form
        [formGroup]="agentForm"
        class="create-agent__body"
    >
        <!-- Left Side - Basic Information -->
        <div class="create-agent__content">
            <div>
                <app-custom-input
                    formControlName="role"
                    label="Agent Role"
                    placeholder="Enter agent role"
                    tooltipText="Agent role"
                    [required]="true"
                />
                <app-validation-errors
                    [control]="agentForm.get('role')!"
                />
            </div>

            <div>
                <app-textarea
                    formControlName="goal"
                    label="Goal"
                    placeholder="Enter agent goal"
                    tooltipText="Goal"
                    [required]="true"
                />
                <app-validation-errors
                    [control]="agentForm.get('goal')!"
                />
            </div>

            <div>
                <app-textarea
                    formControlName="backstory"
                    label="Backstory"
                    placeholder="Enter agent backstory"
                    tooltipText="Backstory"
                    [required]="true"
                />
                <app-validation-errors
                    [control]="agentForm.get('backstory')!"
                />
            </div>
        </div>

        <!-- Right Side - Advanced Settings -->
        <div class="create-agent__sidebar">
            <div class="tabs">
                @for (tab of tabs; track tab.id) {
                    <app-tab-button
                        [mod]="'sm'"
                        [active]="tab.id === activeTab()"
                        (click)="activeTab.set(tab.id)"
                    >
                        {{ tab.label }}
                    </app-tab-button>
                    @if (!$last) {
                        <div class="divider">/</div>
                    }
                }
            </div>
            <app-general-tab
                class="tab-content"
                [class.visible-tab]="activeTab() === TabId.GENERAL"
                [form]="agentForm"
                [combinedLLMs]="llmConfigs"
            />
            <app-rag-tab
                class="tab-content"
                [class.visible-tab]="activeTab() === TabId.RAG"
                [form]="agentForm"
                [allKnowledgeSources]="allKnowledgeSources"
                [agentRags]="agentRags"
                [searchConfigs]="agentToEdit?.search_configs || null"
            />
            <!--    Might be used un the future-->
            <!--    <app-llm-params-tab-->
            <!--        class="tab-content"-->
            <!--        [class.visible-tab]="activeTab() === TabId.LLM_PARAMS"-->
            <!--        [form]="form"-->
            <!--    />-->
            <app-execution-tab
                class="tab-content"
                [class.visible-tab]="activeTab() === TabId.EXECUTION"
                [form]="agentForm"
            />
            <app-advanced-tab
                class="tab-content"
                [class.visible-tab]="activeTab() === TabId.ADVANCED"
                [form]="agentForm"
            />
        </div>
    </form>

    <div class="create-agent__footer">
        <app-button
            type="outline-primary"
            (click)="onCancelForm()"
            [disabled]="isSubmitting()"
        >
            Cancel
        </app-button>
        <app-button
            type="primary"
            [disabled]="isSubmitting() || agentForm.invalid"
            (click)="onSubmitForm()"
        >
            @if (isSubmitting()) {
                <mat-spinner diameter="16"></mat-spinner>
            } @else {
                {{ isEditMode ? 'Update Agent' : 'Create Agent' }}
            }
        </app-button>
    </div>
</div>
