<div class="collections-sidebar">
    <div class="collections-sidebar__header">
        <span class="collections-sidebar__header-label">Collections
            <span class="collections-sidebar__header-count">
                {{collections().length}}
            </span>
        </span>

        <app-button [type]="collections().length ? 'primary' : 'outline-primary'" (click)="onCreateCollection.emit()">
            + Add
        </app-button>
    </div>

    <div class="collections-sidebar__actions">
        <app-search
            placeholder="Search collections..."
            [(searchTerm)]="searchTerm"
            class="collections-sidebar__search"
        />

        <app-select
            [placeholder]="'All status'"
            class="collections-sidebar__select"
        />
    </div>

    <div class="collections-sidebar__items">
        @if (!collections().length) {
            <p class="collections-sidebar__empty">No collections yet</p>

            <app-button type="outline-primary" (click)="onCreateCollection.emit()">
                + Create Collection
            </app-button>
        } @else {
            @for (collection of filteredCollections(); track collection.collection_id) {
                <app-collection
                    class="collections-sidebar__item"
                    [collection]="collection"
                    [selected]="selectedCollectionId() === collection.collection_id"
                    (click)="selectedCollectionId.set(collection.collection_id)"
                />
            }
        }
    </div>
</div>
