<!-- Header (Tool / Config Name) -->
<div class="header">
  <div class="icon-wrapper">
    <i class="ti ti-tool"></i>
  </div>
  <div class="title">
    {{ node.data.name }}
  </div>
</div>

<!-- Node Details (Display only if expanded) -->

<!-- <div class="node-details" *ngIf="parentExpanded()">
  <ng-container
    *ngIf="
      data.configuration && (data.configuration | keyvalue).length > 0;
      else noConfig
    "
  >
    <div
      class="detail-block"
      *ngFor="let item of data.configuration | keyvalue"
    >
      <div class="detail-header">
        <span class="detail-label">{{ item.key | titlecase }}</span>
      </div>
      <div class="detail-content">
        <p class="detail-text">{{ item.value }}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #noConfig>
    <div class="detail-block">
      <div class="detail-content">
        <p class="detail-text">This tool has nothing to configure.</p>
      </div>
    </div>
  </ng-template>
</div> -->
