.configure {
    display: flex;
    height: 100%;
    overflow: auto;

    app-document-chunks-section {
        flex: 1 1 auto;
        min-width: 500px;
    }

    &__files-section {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 735px;
        border-right: 1px solid var(--color-divider-subtle);
    }

    &__files-searchbar {
        display: grid;
        grid-template-columns: 1fr // search
            145px // select
            100px // reinclude files
            120px // bulk config
            60px; // bulk delete
        gap: 0.5rem;
        align-items: center;
        padding: 1.25rem 2.5rem 1rem 2.5rem;
    }

    &__bulk-delete {
        width: 28px;
        height: 28px;
        padding: 0.25rem;
        border-radius: 4px;
        border: 1px solid var(--accent-color);
        background: transparent;
        color: var(--accent-color);
        cursor: pointer;

        &:hover:not(&--disabled) {
            border-color: var(--accent-color-hover);
            color: var(--accent-color-hover);
        }

        &--disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
}
