<ng-template #menuTemplate>
    <div class="context-menu dark-theme">
        <div class="search-container">
            <i class="ti ti-search"></i>
            <input
                type="text"
                placeholder="Search..."
                (input)="onSearchInput($event)"
                [value]="searchTerm()"
            />
        </div>

        <div class="menu-header">
            @for (item of menuItems; track item.type) {
                <button
                    [class.active]="item.type === selectedMenu()"
                    (click)="onSelectMenu(item.type)"
                >
                    {{ item.label }}
                </button>
            }
        </div>

        <div class="menu-content">
            @switch (selectedMenu()) {
                @case (menuTab.FLOW_CORE) {
                    <app-flow-graph-core-menu
                        [searchTerm]="searchTerm()"
                        (nodeSelected)="onNodeSelected({ type: $event })"
                    ></app-flow-graph-core-menu>
                }
                @case (menuTab.PROJECTS) {
                    <app-flow-projects-context-menu
                        [searchTerm]="searchTerm()"
                        (nodeSelected)="onNodeSelected($event)"
                    ></app-flow-projects-context-menu>
                }
                @case (menuTab.FLOWS) {
                    <app-flows-menu
                        [searchTerm]="searchTerm()"
                        [currentFlowId]="currentFlowId()"
                        (nodeSelected)="onNodeSelected($event)"
                    ></app-flows-menu>
                }
            }
        </div>
    </div>
</ng-template>
