<div
  #menuContainer
  class="context-menu dark-theme"
  [ngStyle]="{
    'top.px': topPosition,
    'left.px': leftPosition,
    width: menuWidth
  }"
>
  <!-- Search Bar -->
  <div class="search-container">
    <i class="ti ti-search"></i>
    <input
      type="text"
      placeholder="Search..."
      (input)="onSearchInput($event)"
      [value]="searchTerm"
    />
  </div>

  <!-- Header with Menu Options -->
  <div class="menu-header">
    <button
      *ngFor="let item of menuItems"
      [class.active]="item.type === selectedMenu"
      (click)="onSelectMenu(item.type)"
    >
      {{ item.label }}
    </button>
  </div>

  <!-- Content Area -->
  <div class="menu-content">
    <ng-container [ngSwitch]="selectedMenu">
      <app-flow-graph-core-menu
        *ngSwitchCase="'flow-core'"
        [searchTerm]="searchTerm"
        (nodeSelected)="onNodeSelected($event)"
      ></app-flow-graph-core-menu>
      <app-project-graph-core-menu
        *ngSwitchCase="'project-core'"
        [searchTerm]="searchTerm"
        (nodeSelected)="onNodeSelected($event)"
      ></app-project-graph-core-menu>
      <app-flow-projects-context-menu
        *ngSwitchCase="'projects'"
        [searchTerm]="searchTerm"
        (nodeSelected)="onNodeSelected($event)"
      ></app-flow-projects-context-menu>
      <app-flows-menu
        *ngSwitchCase="'flows'"
        [searchTerm]="searchTerm"
        [currentFlowId]="currentFlowId"
        (nodeSelected)="onNodeSelected($event)"
      ></app-flows-menu>
      <app-llm-menu
        *ngSwitchCase="'llms'"
        [searchTerm]="searchTerm"
        (nodeSelected)="onNodeSelected($event)"
      ></app-llm-menu>
      <app-tools-menu
        *ngSwitchCase="'tools'"
        [searchTerm]="searchTerm"
        (nodeSelected)="onNodeSelected($event)"
      ></app-tools-menu>
      <app-staff-menu
        *ngSwitchCase="'staff'"
        [searchTerm]="searchTerm"
        (nodeSelected)="onNodeSelected($event)"
      ></app-staff-menu>
    </ng-container>
  </div>
</div>
