<div class="knowledge-page">
  <app-page-header
    [headerTitle]="'Knowledge Sources'"
    [createButtonTitle]="'New Collection'"
    [searchPlaceholder]="'this search will work soon'"
    (openCreate)="openCreateCollectionDialog()"
    [showFilter]="false"
    [showSort]="false"
    [showFavoriteToggle]="false"
    [showSearch]="false"
  >
  </app-page-header>

  <div class="knowledge-body">
    <div class="loading-container" *ngIf="isLoading()">
      <app-spinner
        [text]="'Loading knowledge sources...'"
        [accentColor]="'#6562f5'"
        [isOverlay]="false"
      ></app-spinner>
    </div>

    <ng-container *ngIf="!isLoading()">
      <app-collections-sidebar
        (openCreate)="openCreateCollectionDialog()"
      ></app-collections-sidebar>
      <app-collections-page-content></app-collections-page-content>
    </ng-container>
  </div>
</div>
