<div class="project-menu" [ngClass]="{ 'project-menu--active': isMenuOpenSig() }">
    <button
    class="project-menu__trigger"
    [class.project-menu__trigger--active]="isMenuOpenSig()"
        title="Options"
        (click)="toggleMenu($event)"
        (mouseenter)="onButtonEnter()"
        (mouseleave)="onButtonLeave()"
    >
        <app-icon icon="ui/dots-vertical" size="1rem"></app-icon>
    </button>

  @if (isMenuOpenSig()) {
    <div class="project-menu__dropdown" (mouseenter)="onMenuEnter()" (mouseleave)="onMenuLeave()">
        <app-project-menu-item
            icon="ti-trash"
            label="Delete"
            [isDelete]="true"
            (itemClick)="onActionClick($event, 'delete')"
        ></app-project-menu-item>
        <app-project-menu-item
            icon="ti-copy"
            label="Copy"
            (itemClick)="onActionClick($event, 'copy')"
        ></app-project-menu-item>
    </div>
  }
</div>
