<div
  class="header"
  [class.parent-hovered]="isParentHovered"
  [class.parent-collapsed]="isCollapsed"
>
  <div class="title">
    <div class="icon-container">
      <i class="ti ti-apps"></i>
    </div>
    @if (!isRenaming()) {
    <div class="title-text">{{ groupName }}</div>
    } @else {
    <div class="rename-container" (click)="$event.stopPropagation()">
      <input
        #nameInput
        class="title-input"
        [value]="groupName"
        (keyup.enter)="saveNewName(nameInput.value)"
        (keyup.escape)="cancelRename()"
        (click)="$event.stopPropagation()"
      />
      <button
        class="confirm-button"
        title="Save name"
        (click)="saveNewName(nameInput.value)"
      >
        <i class="ti ti-check"></i>
      </button>
    </div>
    }
  </div>
  <div class="actions" (mousedown)="$event.stopPropagation()">
    <div
      class="action-button rename-button"
      title="Rename group"
      (click)="startRename($event)"
      [class.is-renaming]="isRenaming()"
    >
      <i class="ti ti-pencil"></i>
    </div>
    <div
      class="action-button toggle-button"
      title="{{ isCollapsed ? 'Show group' : 'Hide group' }}"
      (click)="onToggleCollapsed($event)"
      [class.disabled]="isToggleDisabled()"
    >
      <i
        class="ti"
        [class.ti-minus]="!isCollapsed"
        [class.ti-plus]="isCollapsed"
      ></i>
    </div>
    @if (hasParent) {
    <div
      class="action-button ungroup-button"
      title="Ungroup"
      (click)="onUngroup($event)"
    >
      <i class="ti ti-lock-off"></i>
    </div>
    }
  </div>
</div>
