<div
  class="group-container"
  [class.collapsed]="group.collapsed"
  [style.backgroundColor]="groupBackgroundColor"
>
  <app-group-header
    fDragHandle
    [groupName]="group.data.name"
    [isCollapsed]="group.collapsed"
    [hasParent]="!!group.parentId"
    [isParentHovered]="isHovered"
    (headerRenamed)="onHeaderRenamed($event)"
    (toggleCollapsed)="onToggleCollapsed()"
    (ungroup)="onUngroup()"
  ></app-group-header>

  <!-- Color palette icon button -->
  <div
    *ngIf="!group.collapsed"
    class="color-palette-button"
    [class.visible]="isHovered"
    (click)="toggleColorPicker()"
    [class.pallete-opened]="showColorPicker"
    (mousedown)="$event.stopPropagation()"
  >
    <i class="ti ti-palette"></i>
  </div>

  <!-- Custom color picker dropdown with click-outside directive -->
  <div
    class="color-palette-container"
    *ngIf="showColorPicker"
    (click)="$event.stopPropagation()"
    clickOutside
    (clickOutside)="handleClickOutside($event)"
    (mousedown)="$event.stopPropagation()"
  >
    <div class="color-palette-header">
      <span>Select Group Color</span>
    </div>
    <!-- Custom color picker -->
    <div class="color-picker-wrapper">
      <app-color-picker
        [color]="currentTempColor"
        (colorChange)="handleColorChange($event)"
      ></app-color-picker>
    </div>
  </div>

  @if(!group.collapsed) {
  <app-resize-handle
    [handleType]="eResizeHandleType.RIGHT_BOTTOM"
  ></app-resize-handle>
  <app-resize-handle
    [handleType]="eResizeHandleType.LEFT_BOTTOM"
  ></app-resize-handle>
  <app-resize-handle
    [handleType]="eResizeHandleType.LEFT_TOP"
  ></app-resize-handle>
  <app-resize-handle
    [handleType]="eResizeHandleType.RIGHT_TOP"
  ></app-resize-handle>
  }
</div>
