<div class="configure">
    <div class="files-section">
        <div class="files-header">
            <div class="header-title">
                Convert to Format
                <mat-icon class="tooltip-icon" matTooltip="Select format" matTooltipPosition="above">
                    help_outline
                </mat-icon>
            </div>
            <app-radio-button [(value)]="selectedFormat" [options]="formatOptions" [disabled]="true" />
        </div>

        <div class="non-txt-warning">
            <app-svg-icon icon="warning" size="1rem" class="warning-icon" />
            <span>Non-txt files may not be properly processed, resulting in empty search results.</span>
        </div>

        <div class="files-content">
            <app-graph-rag-files-list [ragId]="graphRag().graph_rag_id" [documents]="graphRag().documents" />
        </div>
    </div>

    <div class="params-section">
        <app-graph-rag-index-parameters
            #indexParameters
            [selectedFormat]="selectedFormat()"
            [indexConfig]="graphRag().index_config"
        />
    </div>
</div>
