<div
    class="project-card"
    (click)="cardClick.emit()"
>
    <div class="card-header">
        <div
            class="card-header__icon"
            [ngStyle]="getIconContainerStyle()"
        >
            <app-svg-icon
                icon="project"
                size="20px"
                style="color: var(--accent-color)"
            />
        </div>
        <div class="card-header__content">
            <h3 class="card-header__title">{{ project.name }}</h3>
            <div class="card-meta">
                <span class="card-meta__item">{{ project.process }}</span>
                <span class="card-meta__sep">~</span>
                <span class="card-meta__item"
                    >{{ project.agents.length }} {{ project.agents.length === 1 ? 'agent' : 'agents' }}</span
                >
                <span class="card-meta__sep">~</span>
                <span class="card-meta__item"
                    >{{ project.tasks.length }} {{ project.tasks.length === 1 ? 'task' : 'tasks' }}</span
                >
            </div>
        </div>
        <app-project-menu
            class="card-header__menu"
            [isOpen]="isMenuOpen"
            (menuToggle)="onMenuToggle($event)"
            (actionSelected)="onActionSelected($event)"
        ></app-project-menu>
    </div>
    <div class="description">
        {{ project.description || 'No description provided.' }}
    </div>
    <div class="tags-container">
        <div class="tags">
            <ng-container *ngFor="let tag of displayedTags()">
                <app-tag [tag]="tag"></app-tag>
            </ng-container>
            <span
                class="more-tags"
                *ngIf="hasMoreTags()"
            >
                +{{ additionalTagsCount() }} more
            </span>
        </div>
    </div>
</div>
