<div
    class="custom-menu"
    [ngStyle]="{
        display: visible ? 'block' : 'none',
        'left.px': left,
        'top.px': top,
    }"
>
    <ul>
        <li (click)="onAddEmptyAgentAbove()">
            <app-svg-icon
                icon="row-insert-top"
                size="1rem"
            />
            <span>Add Empty Row Above</span>
        </li>
        <li (click)="onAddEmptyAgentBelow()">
            <app-svg-icon
                icon="row-insert-bottom"
                size="1rem"
            />
            <span>Add Empty Row Below</span>
        </li>
        <!-- <li class="divider"></li>
        <li (click)="onCopy()">
            <i class="ti ti-copy icon"></i>
            <span>Сopy Row(Agent)</span>
        </li>
        <li (click)="onPasteBelow()">
            <i class="ti ti-clipboard icon"></i>
            <span>Paste Copied Row Below</span>
        </li>
        <li (click)="onPasteAbove()">
            <i class="ti ti-clipboard-text icon"></i>
            <span>Paste Copied Row Above</span>
        </li> -->
        <li class="divider"></li>
        <li
            (click)="onDelete()"
            class="delete-option"
        >
            <app-svg-icon
                icon="trash"
                size="1rem"
            />
            <span>Delete Row({{ parent }})</span>
        </li>
    </ul>
</div>
