<button
    [appCollapseOnOverflow]="true"
    [collapseOnOverflowTarget]="'.save-button__label'"
    [collapseOnOverflowClass]="'save-button--only-icon'"
    [collapseOnOverflowCheckExternalClip]="true"
    (collapseOnOverflowChange)="onCollapseChange($event)"
    class="save-button"
    [class.save-button--only-icon]="collapseLabel"
    [disabled]="disabled"
    [attr.aria-label]="label"
    (click)="onSave()"
>
    @if (isSaving) {
        <app-spinner2 [size]="16"></app-spinner2>
    } @else {
        <app-svg-icon
            icon="floppy"
            size="1rem"
        />
    }
    <span class="save-button__label">{{ label }}</span>
</button>
