<div class="icon-picker-container">
    <div
        class="icon-selector"
        (click)="toggleIconPicker()"
    >
        @if (selectedIcon) {
            <div class="selected-icon">
                <app-icon
                    [icon]="getIconPath(selectedIcon)"
                    [size]="'20'"
                ></app-icon>
            </div>
        }
        @if (!selectedIcon) {
            <div class="icon-placeholder">
                <app-icon
                    [icon]="'ui/star'"
                    [size]="'20'"
                ></app-icon>
            </div>
        }
    </div>

    <!-- Icon Picker Popup -->
    @if (showIconPicker) {
        <div
            class="icon-picker-popup"
            @fadeInOut
        >
            <div class="icons-grid">
                @for (iconName of availableIcons; track iconName) {
                    <div
                        class="icon-item"
                        (click)="selectIcon(iconName)"
                        [class.selected]="selectedIcon === iconName"
                    >
                        <app-icon
                            [icon]="getIconPath(iconName)"
                            [size]="'24'"
                        ></app-icon>
                    </div>
                }
            </div>
            <div class="icon-picker-footer">
                <button
                    type="button"
                    (click)="clearIcon()"
                >
                    Clear
                </button>
                <button
                    type="button"
                    (click)="toggleIconPicker()"
                >
                    Close
                </button>
            </div>
        </div>
    }
</div>
