<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="$any(origin)"
    [cdkConnectedOverlayOpen]="open"
    [cdkConnectedOverlayPositions]="positions"
    [cdkConnectedOverlayHasBackdrop]="false"
    (overlayOutsideClick)="close()"
    (detach)="close()"
>
    <div class="popover">
        <div class="popover__header">Import options</div>

        <div class="popover__row">
            <span class="popover__label">
                Preserve Flow UUIDs
                <app-help-tooltip
                    size="0.875rem"
                    class="help-icon"
                    text="Imported flows keep the same IDs as the source system"
                    position="right"
                />
            </span>
            <div
                class="toggle-group"
                (click)="togglePreserveUuids()"
            >
                <div
                    class="toggle-slider"
                    [class.right]="settings().preserveUuids"
                ></div>
                <button
                    type="button"
                    class="toggle-btn"
                    [class.text-active]="!settings().preserveUuids"
                >
                    No
                </button>
                <button
                    type="button"
                    class="toggle-btn"
                    [class.text-active]="settings().preserveUuids"
                >
                    Yes
                </button>
            </div>
        </div>

        <div class="popover__row">
            <span class="popover__label">
                Replace existing
                <app-help-tooltip
                    size="0.875rem"
                    class="help-icon"
                    text="Overwrite entities that already exist (matched by UUID)"
                    position="right"
                />
            </span>
            <div
                class="toggle-group"
                (click)="toggleReplaceExisting()"
            >
                <div
                    class="toggle-slider"
                    [class.right]="settings().replaceExisting"
                ></div>
                <button
                    type="button"
                    class="toggle-btn"
                    [class.text-active]="!settings().replaceExisting"
                >
                    No
                </button>
                <button
                    type="button"
                    class="toggle-btn"
                    [class.text-active]="settings().replaceExisting"
                >
                    Yes
                </button>
            </div>
        </div>

        <div class="popover__row">
            <span class="popover__label">
                Import labels
                <app-help-tooltip
                    size="0.875rem"
                    class="help-icon"
                    text="Include flow labels and categories during import"
                    position="right"
                />
            </span>
            <div
                class="toggle-group"
                (click)="toggleImportLabels()"
            >
                <div
                    class="toggle-slider"
                    [class.right]="settings().importLabels"
                ></div>
                <button
                    type="button"
                    class="toggle-btn"
                    [class.text-active]="!settings().importLabels"
                >
                    No
                </button>
                <button
                    type="button"
                    class="toggle-btn"
                    [class.text-active]="settings().importLabels"
                >
                    Yes
                </button>
            </div>
        </div>

        <div class="popover__footer">
            <button
                type="button"
                class="popover__reset"
                (click)="resetDefaults()"
            >
                Reset to defaults
            </button>
        </div>
    </div>
</ng-template>
