<div class="config">
    <div class="config__grid config__strategy-select">
        <div class="config__grid-item">
            <label>Chunk Strategy</label>
            <mat-icon
                class="config__tooltip"
                matTooltip="Choose how to split your document into chunks. Different strategies work better for different document types."
                matTooltipPosition="above"
                matTooltipClass="dialog__label-tooltip"
            >
                help_outline
            </mat-icon>
        </div>
        <div class="config__grid-item config__grid-item--short">
            <app-select
                [selectedValue]="selectedStrategy()"
                [items]="chunkStrategySelectItems"
                (changed)="selectedStrategy.set($event)"
            />
        </div>
    </div>

    @if (formComponent()) {
        <ng-container
            [ngComponentOutlet]="formComponent()"
            [ngComponentOutletInputs]="componentInputs()"
        ></ng-container>
    }
</div>
