<div class="dialog">
    <div class="dialog__header">
        <span class="dialog__header-title"> Create New Collection </span>

        <div class="dialog__stepper">
            <app-stepper [steps]="stepLabels()" [currentStep]="currentStepIndex()"/>
        </div>

        <div class="dialog__actions">
            <app-button
                type="outline-primary"
                [leftIcon]="'ui/arrow-left'"
                [disabled]="!this.currentStepIndex()"
                (click)="prevStep()"
            >
                Back
            </app-button>
            <app-button
                type="primary"
                [rightIcon]="currentStepIndex() < 2 ? 'ui/arrow-right' : ''"
                [disabled]="nextDisabled()"
                (click)="nextStep()"
            >
                {{ nextText() }}
            </app-button>
            <!--            todo use app-svg-->
            <app-icon [icon]="'ui/close'" class="dialog__actions--close" [size]="'1.5rem'" (click)="onClose()" />
        </div>
    </div>

    @switch (currentStep().id) {
        @case (CreateCollectionStep.UPLOAD_FILES) {
            <app-step-upload-files
                class="dialog__content"
                [collection]="collection()"
                [(documents)]="selectedDocuments"
            />
        }
        @case (CreateCollectionStep.SELECT_RAG) {
            <app-step-select-rag
                [forceType]="data.forceType"
                [(selectedRag)]="selectedRagType"
                [(selectedEmbedder)]="selectedEmbedder"
                [(selectedLLM)]="selectedLLM"
            />
        }
        @case (CreateCollectionStep.CONFIGURE) {
            <div class="dialog__content">
                @if (configurationComponent()) {
                    <ng-container *ngComponentOutlet="configurationComponent(); inputs: configurationInputs()"
                    ></ng-container>
                }
            </div>
        }
    }
</div>
