<div class="multi-select">
    <div #triggerBtn class="multi-select__btn" (click)="toggle()">
        {{ label() }}
        @if (icon()) {
            <app-icon size="1rem" [icon]="icon()" />
        }
    </div>
</div>

<ng-template #dropdownTemplate>
    <div class="multi-select__dropdown">
        <input
            class="multi-select__search"
            type="text"
            [value]="search()"
            (input)="search.set($any($event.target).value)"
            [placeholder]="searchPlaceholder()"
        />

        <div class="multi-select__list">
            @for (group of groupedFiltered(); track group.group ?? 'default') {

                @if (group.group) {
                    <label class="multi-select__group-label">
                        {{ group.group }}
                    </label>
                }

                @for (item of group.items; track item.name) {
                    <div
                        class="multi-select__item"
                        [class.multi-select__item--selected]="isChecked(item.value)"
                        (click)="toggleValue(item.value)"
                    >
                        <span>
                            {{ item.name }}
                            @if (item.tip) {
                                <span class="multi-select__item-tip">
                                    {{item.tip}}
                                </span>
                            }
                        </span>
                        <app-checkbox
                            mod="multiselect"
                            [checked]="isChecked(item.value)"
                        />
                    </div>
                }
            }
        </div>

        <div class="multi-select__footer">
            <app-button mod="default" type="outline-primary" (click)="cancel()">
                Cancel
            </app-button>

            <app-button mod="default" type="primary" (click)="save()">
                Save Selection
            </app-button>
        </div>
    </div>
</ng-template>
