<!-- Updated header.component.html -->
<div class="header">
  <div class="title-section">
    <div class="title" *ngIf="project">
      <div class="project-prefix" routerLink="/projects">
        <app-icon [icon]="'ui/arrow-left'" size="20" class="back-arrow" />
        <span>Projects</span>
      </div>
      <span class="separator"> / </span>
      <div class="project-name" >
        <span class="project-name__text">
          {{ project.name }}
        </span>
        <app-icon
          icon="ui/edit"
          size="1rem"
          class="project-name__edit"
          (click)="openEditTitleDialog()"
        />
      </div>
    </div>
  </div>

  <div class="action-buttons">
    <app-button
      type="secondary"
      [leftIcon]="'ui/plus'"
      class="create-flow-btn"
      (click)="onCreateFlowWithProject()"
      [disabled]="!project"
    >
      Create flow from this project
    </app-button>
  </div>
</div>
