<div class="dialog-wrapper">
    <div class="dialog-header">
        <h2>Sessions for {{ flow.name }}</h2>
        <app-icon-button icon="x" size="2rem" ariaLabel="Close dialog" (onClick)="dialogRef.close()"></app-icon-button>
    </div>

  <div class="dialog-content">
    <div class="filter-controls">
      <app-flow-session-node-filter-dropdown
        [nodeGroups]="availableNodeGroups()"
        [value]="nodeFilter()"
        (valueChange)="onNodeFilterChange($event)"
      ></app-flow-session-node-filter-dropdown>

      <label class="error-cause-filter">
        <span>Show first failed</span>
        <div class="toggle-switch" [class.active]="isErrorCauseFilter()" (click)="onIsErrorCauseChange()">
          <div class="toggle-thumb"></div>
        </div>
      </label>

      @if (selectedIds().size > 0) {
        <button class="delete-btn" (click)="onBulkDelete()">Delete Selected</button>
      }
    </div>

        <div class="table-container">
            <app-flow-sessions-table
                [sessions]="sessions()"
                [flow]="flow"
                [isLoading]="!isLoaded()"
                [showEmptyState]="isLoaded() && sessions().length === 0"
                (deleteSelected)="onDeleteSelected($event)"
                (viewSession)="onViewSession($event)"
                (stopSession)="onStopSession($event)"
                [statusFilter]="statusFilter()"
                (statusFilterChange)="onStatusFilterChange($event)"
                (selectedIdsChange)="onSelectedIdsChange($event)"
            >
            </app-flow-sessions-table>
        </div>

        @if (isLoaded() && totalCount > pageSize()) {
            <div class="pagination-container">
                <app-pagination-controls
                    [pageSize]="pageSize()"
                    [totalCount]="totalCount"
                    [currentPage]="currentPage()"
                    [maxPagesToShow]="5"
                    (pageChange)="onPageChange($event)"
                >
                </app-pagination-controls>
            </div>
        }
    </div>
</div>
