<li
  class="llm-item"
  (click)="onSelect()"
  (keydown.enter)="onSelect()"
  [class.selected]="isSelected"
  tabindex="0"
>
  <app-icon
    [icon]="getProviderIcon(item)"
    size="20px"
    [ariaLabel]="item.provider_name || ''"
    class="provider-icon"
  ></app-icon>

  <div class="item-content">
    <div class="item-text">
      {{ getModelName(item) }}
      <span *ngIf="item.custom_name" class="custom-name">
        ({{ item.custom_name }})
      </span>
    </div>
    <!-- Provider name is not needed since we show the icon -->
  </div>

  <button
    class="select-button"
    [title]="
      isSelected ? 'Deselect this configuration' : 'Select this configuration'
    "
  >
    <i [class]="isSelected ? 'ti ti-x' : 'ti ti-plus'"></i>
  </button>
</li>
