<div
    class="collection"
    [class.selected]="selected()"
>
    <div class="header">
        <span class="name">
            {{ collection().collection_name }}
        </span>

        @if (collection()?.document_count; as count) {
            <span class="files-count"> {{ count }} files </span>
        } @else {
            <span class="files-count empty"> No files </span>
        }
    </div>

    @if (true) {
        <div class="no-rag">
            <app-svg-icon
                icon="not-allowed"
                size="12px"
            />
            <span>{{ collection().document_count ? 'No RAG initialized' : 'Empty' }}</span>
        </div>
    }
</div>
