<div
    class="collection"
    [class.selected]="selected()"
>
    <div class="header">
        <span class="name">
            {{ collection().collection_name }}
        </span>

        @if (collection().document_count; as count) {
            <span class="files-count"> {{ count }} files </span>
        } @else {
            <span class="files-count empty"> No files </span>
        }
    </div>

    @if (collection().rag_configurations.length) {
        <div class="rag-configs">
            @for (config of collection().rag_configurations; track config.rag_id) {
                <div
                    class="rag-badge"
                    [style.color]="ragStatusConfig[config.status].color"
                >
                    <app-svg-icon
                        [icon]="ragStatusConfig[config.status].icon"
                        size="12px"
                    />
                    <span class="rag-badge__name">{{ ragTypeConfig[config.rag_type].name }}</span>
                </div>
            }
        </div>
    } @else {
        <div class="no-rag">
            <app-svg-icon
                icon="not-allowed"
                size="12px"
            />
            <span>{{ collection().document_count ? 'No RAG initialized' : 'Empty' }}</span>
        </div>
    }
</div>
