.collection {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    background-color: var(--color-ks-card-background);
    padding: 0.75rem 1rem;

    &.selected {
        border: 1px solid var(--color-ks-button-activated);
    }

    .header {
        display: flex;
        justify-content: space-between;
        min-width: 0;
        gap: 0.5rem;
    }

    .name {
        min-width: 0;
        flex: 1 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.125rem;
        color: var(--color-ks-text);
    }

    .files-count {
        min-width: 0;
        max-width: 45%;
        flex: 0 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        color: var(--text-secondary-60);

        &.empty {
            color: var(--color-ks-transparent-text-20);
        }
    }

    .no-rag {
        display: flex;
        gap: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        color: var(--text-secondary-60);
    }

    .status-icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    .status-text {
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
