<div class="editor-toolbar">
    <button class="toolbar-btn" (click)="insertToken('@')" title="Insert Variable">
        <span class="keyword" style="color: #a5a5ff;">&#64;</span>
    </button>
    <div class="separator"></div>
    <button class="toolbar-btn" (click)="insertToken('and')" title="Insert AND operator">
        <span class="keyword">AND</span>
    </button>
    <button class="toolbar-btn" (click)="insertToken('or')" title="Insert OR operator">
        <span class="keyword">OR</span>
    </button>
    <div class="separator"></div>
    <button class="toolbar-btn" (click)="insertToken('>')" title="Greater than">
        <span>&gt;</span>
    </button>
    <button class="toolbar-btn" (click)="insertToken('<')" title="Less than">
        <span>&lt;</span>
    </button>
    <button class="toolbar-btn" (click)="insertToken('==')" title="Equals">
        <span>==</span>
    </button>
    <button class="toolbar-btn" (click)="insertToken('!=')" title="Not equals">
        <span>!=</span>
    </button>
    <button class="toolbar-btn" (click)="insertToken('>=')" title="Greater or equal">
        <span>&gt;=</span>
    </button>
    <button class="toolbar-btn" (click)="insertToken('<=')" title="Less or equal">
        <span>&lt;=</span>
    </button>
</div>

