.collections-sidebar {
    height: 100%;
    width: 400px !important;

    overflow-y: auto;

    border-right: 1px solid var(--color-divider-subtle);

    padding: 1rem 3rem;
    .search-container {
        padding-bottom: 8px;
    }

    .empty-collections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        .empty-icon {
            color: #666;
            margin-bottom: 1rem;
        }

        p {
            color: #d0d0d0;
            margin-bottom: 1.5rem;
        }

        .create-collection-button {
            padding: 0.5rem 1.5rem;
            background-color: #685fff;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:hover {
                background-color: rgb(87, 74, 228);
            }

            svg {
                stroke: currentColor;
            }
        }
    }

    .collections-grid {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        padding-top: 0;
    }
}
