<div class="chat-header" *ngIf="agent">
  <div class="agent-info">
    <div>
      <h3>{{ agent.role }}</h3>
      <div
        class="model-info"
        *ngIf="agent.fullRealtimeConfig?.modelDetails?.name; else noModel"
      >
        {{ agent.fullRealtimeConfig?.modelDetails?.name }}
        <ng-container *ngIf="agent.fullRealtimeConfig?.custom_name"
          >({{ agent.fullRealtimeConfig?.custom_name }})</ng-container
        >
      </div>
      <ng-template #noModel>
        <div class="model-info">Realtime Model not specified</div>
      </ng-template>
    </div>
    <ng-container *ngIf="consoleService.isConversationConnected()">
      <app-tiny-audio-visualizer></app-tiny-audio-visualizer>
    </ng-container>
  </div>

  <div class="communication-controls">
    <!-- <div class="toggle-container">
              <button
                class="toggle-btn"
                [class.active]="communicationType === 'text'"
                (click)="toggleCommunicationType('text')"
              >
                Text
              </button>
              <button
                class="toggle-btn"
                [class.active]="communicationType === 'audio'"
                (click)="toggleCommunicationType('audio')"
              >
                Audio
              </button>
            </div> -->

    <!-- <div class="voice-selector">
              <div class="voice-select-wrapper">
                <i class="voice-icon">
                  <i class="ti ti-volume"></i>
                </i>
                <select [(ngModel)]="selectedVoice" (change)="onVoiceChange($event)">
                  <option *ngFor="let voice of voices" [value]="voice">
                    {{ voice }}
                  </option>
                </select>
              </div>
            </div> -->

    <!-- <div class="settings-container">
      <button class="settings-btn" (click)="openSettings($event)">
        <i class="ti ti-settings"></i>
      </button>
    </div> -->
  </div>
</div>
