<div class="table__wrapper">
    <!-- HEADER ROW -->
    <div
        class="table__row table__header"
        [style]="{'margin-bottom': bulkEditing() ? '0.25rem' : '0.5rem'}"
    >
        <!-- 1. Checkbox -->
        <div class="table__col" (click)="toggleAll()">
            <app-checkbox
                [checked]="allChecked()"
                [indeterminate]="indeterminate()"
            />
        </div>

        <!-- 2. Files (sortable dropdown) -->
        <div class="table__col">
            <app-multi-select
                icon="ui/filter-rows"
                label="FILES"
                searchPlaceholder="Search headers..."
                [items]="fileTypeSelectItems"
                (selectionChange)="fileTypeFilter.set($event)"
            />
        </div>

        <!-- 3. Chunk Strategy -->
        <div class="table__col">
            <app-multi-select
                icon="ui/filter-rows"
                label="CHUNK STRATEGY"
                searchPlaceholder="Search headers..."
                [items]="chunkStrategySelectItems"
                (selectionChange)="chunkStrategyFilter.set($event)"
            />
        </div>

        <!-- 4. Chunk Size (sortable) -->
        <div class="table__col table__col--clickable" (click)="sortBy('chunk_size')">
            CHUNK SIZE
            <app-icon
                class="table__sort-icon"
                [class.table__sort-icon--active]="sort()?.column === 'chunk_size' && sort()?.dir === 'desc'"
                size="1rem"
                [icon]="'ui/arrow-up'"
            />
        </div>

        <!-- 5. Overlap (sortable) -->
        <div class="table__col table__col--clickable" (click)="sortBy('chunk_overlap')">
            OVERLAP
            <app-icon
                class="table__sort-icon"
                [class.table__sort-icon--active]="sort()?.column === 'chunk_overlap' && sort()?.dir === 'desc'"
                size="1rem"
                [icon]="'ui/arrow-up'"
            />
        </div>

        <!-- 6. Initialize files -->
        <div class="table__col">
            <app-button
                class="table__col-btn"
                type="outline-primary"
                mod="small"
                (click)="initFiles()"
            >
                Init All
            </app-button>
        </div>
    </div>

    <!-- BULK EDIT ROW  -->
    @if (bulkEditing() && checkedDocumentIds().length) {
        <div class="table__row table__bulk-row">
            <div class="table__col"></div>
            <div class="table__col">For selected:</div>

            <!-- strategy select -->
            <div class="table__col">
                <app-select
                    mod="small"
                    [items]="chunkStrategySelectItems"
                    [(selectedValue)]="bulkChunkStrategy"
                />
            </div>

            @if (bulkChunkStrategy() === 'csv' || bulkChunkStrategy() === 'html') {
                <!-- chunk size -->
                <div class="table__col table__col--unavailable">
                    Unavailable
                </div>

                <!-- overlap -->
                <div class="table__col table__col--unavailable">
                    Unavailable
                </div>
            } @else {
                <!-- chunk size -->
                <div class="table__col">
                    <app-input-number
                        mod="small"
                        [min]="20"
                        [max]="8000"
                        [(value)]="bulkChunkSize"
                    />
                </div>

                <!-- overlap -->
                <div class="table__col">
                    <app-input-number
                        mod="small"
                        [min]="0"
                        [max]="1000"
                        [(value)]="bulkChunkOverlap"
                    />
                </div>
            }

            <!-- apply -->
            <div class="table__col">
                <app-button
                    class="table__col-btn"
                    type="outline-primary"
                    mod="small"
                    [disabled]="!bulkAction()"
                    (click)="bulkApply()"
                >
                    Apply
                </app-button>
            </div>
        </div>
    }

    <!-- DATA ROWS -->
    <div class="table__files-wrapper">
        <ol class="table__rows">
            @for (d of filteredAndSorted(); track d.naive_rag_document_id; let odd = $odd; let i = $index) {
                <div
                    class="table__row-wrapper"
                    [class.table__row-wrapper--dark]="odd"
                    [class.table__row-wrapper--selected]="d.document_id === selectedDocumentId()"
                >
                    <li
                        class="table__row"
                    >
                        <!-- checkbox -->
                        <div class="table__col">
                            <app-checkbox
                                [checked]="d.checked"
                                (changed)="toggleDocument(d)"
                            />
                        </div>

                        <!-- filename -->
                        <div
                            class="table__col table__col-file"
                            (click)="selectedDocumentId.set(d.document_id)"
                        >
                            <span>{{ i + 1 }}</span>
                            <app-icon
                                class="table__file-icon"
                                icon="ui/document"
                                size="0.75rem"
                            />
                            <span class="table__file-name">
                            {{ parseFullFileName(d.file_name).name }}
                        </span>
                            <span>
                            {{ parseFullFileName(d.file_name).type }}
                        </span>
                        </div>

                        <!-- strategy select -->
                        <div class="table__col">
                            <app-select
                                mod="small"
                                [items]="chunkStrategySelectItems"
                                [(selectedValue)]="d.chunk_strategy"
                                [invalid]="!!d.errors?.chunk_strategy"
                                (changed)="docFieldChange(d, 'chunk_strategy', $event)"
                            />
                        </div>

                        @if (d.chunk_strategy === 'csv' || d.chunk_strategy === 'html') {
                            <!-- chunk size -->
                            <div class="table__col table__col--unavailable">
                                Unavailable
                            </div>

                            <!-- overlap -->
                            <div class="table__col table__col--unavailable">
                                Unavailable
                            </div>
                        } @else {
                            <!-- chunk size -->
                            <div class="table__col">
                                <app-input-number
                                    mod="small"
                                    [min]="20"
                                    [max]="8000"
                                    [(value)]="d.chunk_size"
                                    [invalid]="!!d.errors?.chunk_size"
                                    (changed)="docFieldChange(d, 'chunk_size', $event)"
                                />
                            </div>

                            <!-- overlap -->
                            <div class="table__col">
                                <app-input-number
                                    mod="small"
                                    [min]="0"
                                    [max]="1000"
                                    [(value)]="d.chunk_overlap"
                                    [invalid]="!!d.errors?.chunk_overlap"
                                    (changed)="docFieldChange(d, 'chunk_overlap', $event)"
                                />
                            </div>
                        }

                        <!-- action button -->
                        <div class="table__col">
                            <app-button
                                class="table__col-btn"
                                type="outline-secondary"
                                mod="small"
                                (click)="tuneChunk(d.naive_rag_document_id)"
                            >
                                Tune Chunks
                            </app-button>
                        </div>
                    </li>
                    @for (error of d.errors | keyvalue; track error.key) {
                        <label class="table__row-error">
                            Update failed: {{ error.value?.reason }}
                        </label>
                    }
                </div>
            }
        </ol>
    </div>
</div>
