<div class="panel-container">
    <div class="panel-content">
        <form
            [formGroup]="form"
            class="form-container"
            [class.form-container--expanded]="isExpanded()"
        >
            <div class="form-layout">
                <div class="form-data">
                    <div class="form-fields">
                        <app-custom-input
                            label="Trigger Name"
                            tooltipText="Trigger name"
                            formControlName="node_name"
                            placeholder="Enter node name"
                            [required]="true"
                            [activeColor]="activeColor"
                            [errorMessage]="getNodeNameErrorMessage()"
                        ></app-custom-input>

                        <app-custom-input
                            label="Telegram bot key"
                            tooltipText="Bot key"
                            formControlName="telegram_bot_api_key"
                            placeholder="Enter webhook name"
                            [required]="true"
                            [activeColor]="activeColor"
                            [errorMessage]="getTelegramKeyErrorMessage()"
                        ></app-custom-input>

                        <app-custom-input
                            label="Webhook trigger path"
                            tooltipText="Path"
                            formControlName="webhook_trigger_path"
                            placeholder="Enter webhook path"
                            [required]="true"
                            [activeColor]="activeColor"
                        ></app-custom-input>

                        <app-select
                            [loading]="ngrokConfigsLoading()"
                            label="Select Ngrok config"
                            tooltipText="Select the ngrok config. Full URL is shown below."
                            formControlName="ngrok_webhook_config"
                            [items]="ngrokConfigSelectItems()"
                            (changed)="onNgrokConfigChanged($event)"
                        />
                    </div>

                    <div class="webhook-section">
                        <div class="webhook-section__label-container">
                            <label>Webhook</label>
                            <app-help-tooltip
                                text="Ngrok tunnel"
                                position="right"
                            />
                        </div>

                        <div class="webhook-status__container">
                            @switch (webhookStatusDisplay()) {
                                @case (WebhookStatus.FAIL) {
                                    <div class="webhook-status__main">
                                        <app-svg-icon
                                            class="webhook-status__icon--failed"
                                            icon="x"
                                            size="1rem"
                                        />
                                        <span>Registration failed</span>
                                    </div>
                                    <span class="webhook-status__error-message"> Webhook service is not running </span>
                                }
                                @case (WebhookStatus.SUCCESS) {
                                    <div class="webhook-status__main">
                                        <app-svg-icon
                                            class="webhook-status__icon--success"
                                            icon="check"
                                            size="1rem"
                                        />
                                        <span>Webhook registered</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="output-fields-section">
                        <label class="output-fields__label">
                            Fields for output in results

                            <span class="output-fields__count"> {{ selectedFields().length }} selected </span>
                        </label>
                        <div class="output-fields__container">
                            <div class="output-fields__items">
                                @for (item of selectedFields(); track $index) {
                                    <div class="output-fields__item">
                                        <span>
                                            {{ item.field_name }}
                                        </span>
                                        <span class="output-fields__item-tip">
                                            {{ item.field_type }}
                                        </span>
                                    </div>
                                } @empty {
                                    <span>No fields selected</span>
                                }
                            </div>
                            <app-button
                                type="primary"
                                (click)="onEditing()"
                            >
                                Editing
                            </app-button>
                        </div>
                    </div>
                </div>

                <div class="code-editor-section">
                    <label> Mock Data </label>
                    <div class="code-editor-section__info">
                        <app-help-tooltip
                            text="Open Telegram field model documentation"
                            position="right"
                            size="14px"
                            class="code-editor-section__info-icon"
                        />
                        <a
                            class="code-editor-section__info-link"
                            href="https://core.telegram.org/bots/api#available-types"
                            target="_blank"
                            >Click here</a
                        >
                        to get more information about field models
                    </div>
                    <div class="json-wrapper">
                        <app-json-editor
                            [jsonData]="jsonValues()"
                            [showHeader]="false"
                            [fullHeight]="true"
                            [editorOptions]="editorOptions"
                        />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
