<div class="autocomplete-overlay">
    <div class="header">
        <button
            type="button"
            class="back"
            (click)="onBackClick($event)"
            [disabled]="currentPath().length === 0"
        >
            ←
        </button>
        <div class="crumbs">
            <button
                type="button"
                class="crumb"
                (click)="onCrumbClick($event, -1)"
            >
                root
            </button>
            <ng-container *ngFor="let segment of currentPath(); let i = index">
                <span class="separator">/</span>
                <button
                    type="button"
                    class="crumb"
                    (click)="onCrumbClick($event, i)"
                >
                    {{ segment }}
                </button>
            </ng-container>
        </div>
    </div>

    <div class="items" *ngIf="filteredItems().length > 0; else emptyState">
        <div
            class="item"
            *ngFor="let item of filteredItems()"
            [class.active]="activeItem() === item"
            (mouseenter)="onMouseEnter(item)"
            (mouseleave)="onMouseLeave()"
            (click)="selectItem(item)"
        >
            <div class="item-content">
                <div class="item-key">{{ item.key }}</div>
                <div class="item-meta">
                    <span class="item-type">{{ item.type }}</span>
                    <span class="item-path">{{ item.path }}</span>
                </div>
            </div>
            <button
                type="button"
                class="item-arrow"
                *ngIf="item.type === 'group'"
                (click)="onArrowClick($event, item)"
            >
                ›
            </button>
            <app-value-preview-tooltip
                *ngIf="hoveredItem() === item"
                [value]="item.value"
                [position]="tooltipPosition()"
            ></app-value-preview-tooltip>
        </div>
    </div>

    <ng-template #emptyState>
        <div class="empty">No matches</div>
    </ng-template>
</div>

