<!-- Node name wrapper -->
<div
    class="node-name-wrapper"
    *ngIf="!startNode && !noteNode && !endNode && node.type !== NodeType.TABLE"
>
    <div class="node-name-label">
        {{ node.node_name || "Unnamed Node" }}
    </div>
</div>

<!-- Control buttons positioned above the node -->
<div
    class="actions"
    *ngIf="node.type !== NodeType.TABLE"
    (mousedown)="$event.stopPropagation()"
>
    <!-- Edit Button for Note -->
    <div
        *ngIf="node.type === NodeType.NOTE"
        class="action-button edit-button"
        title="Edit Note"
        (click)="onEditClick($event)"
    >
        <i class="ti ti-edit"></i>
    </div>
    <!-- Ungroup Icon -->
    <div
        *ngIf="node.type === NodeType.PROJECT"
        class="action-button ungroup-button"
        title="Expand Project"
        (click)="onExpandProjectClick()"
    >
        <i class="ti ti-edit"></i>
    </div>
    <div
        *ngIf="node.parentId"
        class="action-button ungroup-button"
        title="Remove from group"
        (click)="onUngroupClick($event)"
    >
        <i class="ti ti-lock-off"></i>
    </div>
</div>

<!-- Ports (skip all ports for table nodes as they render internally) -->
@for (port of this.node.ports; track port.id) {
@if (node.type !== NodeType.TABLE) {
<div
    class="port-wrapper port-index-{{ $index }} port-position-{{
        port.position
    }}"
    [style.--port-index]="$index"
>
    <div
        class="port-circle"
        fNodeInput
        fNodeOutput
        [fInputMultiple]="port.multiple"
        [fOutputMultiple]="port.multiple"
        [fInputId]="port.id"
        [fOutputId]="port.id"
        [isSelfConnectable]="false"
        [fInputConnectableSide]="port.position"
        [fOutputConnectableSide]="port.position"
        [ngStyle]="{
            'border-color':
                port.port_type === 'output' ? port.color : 'hsl(0, 0%, 15%)',
            'background-color':
                port.port_type === 'input' ? port.color : 'hsl(0, 0%, 15%)'
        }"
    >
        <i
            class="fa-solid fa-plus plus-icon"
            [ngStyle]="{
                color:
                    port.port_type === 'input' ? 'hsl(0, 0%, 15%)' : port.color
            }"
        ></i>
    </div>
    <span class="port-label">{{ port.label }}</span>
</div>
}} <ng-template #interactiveNode>
<div class="interactive-node-body" clickOrDrag (actualClick)="onEditClick()">
    <!-- Header Section -->
    <div class="header" *ngIf="node.type !== NodeType.TABLE">
        <div class="icon-wrapper">
            <i [class]="node.icon" [style.color]="node.color"></i>
        </div>
        <div class="title" [title]="getNodeTitle()">
            {{ getNodeTitle() }}
        </div>
    </div>
</div>
</ng-template>
@switch (node.type) {
@case (NodeType.EDGE) {
<app-conditional-edge-node
    clickOrDrag
    (actualClick)="onEditClick()"
></app-conditional-edge-node>
} @case (NodeType.NOTE) {
<app-note-node [node]="noteNode!"></app-note-node>
} @case (NodeType.TABLE) {
<app-decision-table-node
    [node]="tableNode!"
    (actualClick)="onEditClick($event)"
></app-decision-table-node>
} @default {
<ng-container *ngTemplateOutlet="interactiveNode"></ng-container>
}
} @if (showVariables) {
<app-flow-node-variables-overlay
    [node]="node"
    [showVariables]="showVariables"
></app-flow-node-variables-overlay>
}
