<!-- Node name wrapper -->
<div class="node-name-wrapper" *ngIf="!startNode && !noteNode && !endNode">
    <div class="node-name-label">
        {{ node.node_name || "Unnamed Node" }}
    </div>
</div>

<!-- Control buttons positioned above the node -->
<div class="actions" (mousedown)="$event.stopPropagation()">
    <!-- Edit Button for Note -->
    <div
        *ngIf="node.type === NodeType.NOTE"
        class="action-button edit-button"
        title="Edit Note"
        (click)="onEditClick($event)"
    >
        <i class="ti ti-edit"></i>
    </div>
    <!-- Ungroup Icon -->
    <div
        *ngIf="node.type === NodeType.PROJECT"
        class="action-button ungroup-button"
        title="Expand Project"
        (click)="onExpandProjectClick()"
    >
        <i class="ti ti-edit"></i>
    </div>
    <div
        *ngIf="node.parentId"
        class="action-button ungroup-button"
        title="Remove from group"
        (click)="onUngroupClick($event)"
    >
        <i class="ti ti-lock-off"></i>
    </div>
</div>

<!-- Ports -->
@for (port of this.node.ports; track port.id) {
<div
    class="port-wrapper port-index-{{ $index }} port-position-{{
        port.position
    }}"
>
    <div
        class="port-circle"
        fNodeInput
        fNodeOutput
        [fInputMultiple]="port.multiple"
        [fOutputMultiple]="port.multiple"
        [fInputId]="port.id"
        [fOutputId]="port.id"
        [isSelfConnectable]="false"
        [fInputConnectableSide]="port.position"
        [fOutputConnectableSide]="port.position"
        [ngStyle]="{
            'border-color':
                port.port_type === 'output' ? port.color : 'hsl(0, 0%, 15%)',
            'background-color':
                port.port_type === 'input' ? port.color : 'hsl(0, 0%, 15%)'
        }"
    >
        <i
            class="fa-solid fa-plus plus-icon"
            [ngStyle]="{
                color:
                    port.port_type === 'input' ? 'hsl(0, 0%, 15%)' : port.color
            }"
        ></i>
    </div>
    <span class="port-label">{{ port.label }}</span>
</div>
} @if (!edgeNode && !noteNode) {

<div class="interactive-node-body" clickOrDrag (actualClick)="onEditClick()">
    <!-- Header Section -->
    <div class="header">
        <div class="icon-wrapper">
            <i [class]="node.icon" [style.color]="node.color"></i>
        </div>
        <div class="title">
            {{ getNodeTitle() }}
        </div>
    </div>

    <agent-node
        *ngIf="agentNode"
        [node]="agentNode"
        [parentExpanded]="isExpanded"
    ></agent-node>

    <task-node
        *ngIf="taskNode"
        [node]="taskNode"
        [parentExpanded]="isExpanded"
    ></task-node>
</div>
} @else if (edgeNode) {
<app-conditional-edge-node
    clickOrDrag
    (actualClick)="onEditClick()"
></app-conditional-edge-node>
} @else if (noteNode) {
<app-note-node [node]="noteNode"></app-note-node>
} @if (node.type === NodeType.TABLE) {
<app-decision-table-node [node]="tableNode"></app-decision-table-node>
} @if (showVariables && isBaseNode(node) && node.input_map &&
objectKeys(node.input_map).length > 0) {
<div
    class="inputs-overlay"
    [ngStyle]="{ '--node-overlay-color': node.color || '#23272e' }"
>
    <div
        style="
            font-size: 11px;
            font-weight: 600;
            margin-bottom: 4px;
            letter-spacing: 0.5px;
            color: #aaa;
        "
    >
        Inputs
    </div>
    <div class="inputs-list">
        @for (key of objectKeys(node.input_map); track key) {
        <div class="input-item">
            <span class="input-key" [title]="key">{{ key }}</span>
            <span class="equals-sign">=</span>
            <span class="input-value" [title]="node.input_map[key]">{{
                node.input_map[key]
            }}</span>
        </div>
        }
    </div>
</div>
} @if (showVariables && isBaseNode(node) && node.output_variable_path) {
<div
    class="output-overlay"
    [ngStyle]="{ '--node-overlay-color': node.color || '#23272e' }"
>
    <div
        style="
            font-size: 11px;
            font-weight: 600;
            margin-bottom: 4px;
            letter-spacing: 0.5px;
            color: #aaa;
        "
    >
        Output
    </div>
    <span class="output-label">{{ node.output_variable_path }}</span>
</div>
}
