<app-list
    [items]="documents()"
    emptyTitle="No files saved yet"
    emptyDescription='Press "+" to add files.'
>
    <ng-template
        let-item
        let-i="index"
    >
        <app-list-row class="files__file">
            <div class="files__name-column">
                <span>{{ i + 1 }}</span>
                <app-svg-icon
                    icon="document"
                    size="0.75rem"
                />

                <span class="files__name">
                    {{ item.file_name }}
                </span>
                <div [class.files__file-error]="!item.isValidSize || !item.isValidType">
                    @if (!item.isValidType) {
                        Invalid file type
                    } @else if (!item.isValidSize) {
                        File size is too big
                    }
                </div>
            </div>

            <div class="files__size-column">
                <span class="files__size">{{ item.file_size | fileSize }}</span>
                @if (
                    (!item.document_id && item.isValidType && item.isValidSize) ||
                    documentsStorageService.isDeleting(item.document_id)
                ) {
                    <div class="files__upload-spinner"></div>
                } @else {
                    <app-list-actions>
                        @if (item.document_id) {
                            <app-svg-icon
                                icon="eye"
                                size="0.875rem"
                                class="files__close-action"
                                (click)="previewRequested.emit(item.document_id)"
                            />
                            <app-svg-icon
                                icon="download"
                                size="0.875rem"
                                class="files__close-action"
                                (click)="onDownload(item.document_id)"
                            />
                        }
                        <app-svg-icon
                            icon="x"
                            size="1rem"
                            class="files__close-action"
                            (click)="onDelete(item)"
                        />
                    </app-list-actions>
                }
            </div>
        </app-list-row>
    </ng-template>
</app-list>
