<div class="files">
    <app-list [items]="documents()">
        <ng-template let-item let-i="index">
            <app-list-row class="files__file">
                <div class="files__name-column">
                    <span>{{ i + 1 }}</span>
                    <app-svg-icon icon="document" size="0.75rem"/>

                    <span class="files__name">
                        {{ item.file_name }}
                    </span>
                    <div [class.files__file-error]="!item.isValidSize || !item.isValidType">
                        @if (!item.isValidType) {
                            Invalid file type
                        } @else if (!item.isValidSize) {
                            File size is too big
                        }
                    </div>
                    <!--                    <app-svg-icon-->
                    <!--                        [icon]="'warning'"-->
                    <!--                        size="0.75rem"-->
                    <!--                    />-->
                </div>

                <div class="files__size-column">
                    <span class="files__size">{{ item.file_size | fileSize }}</span>
                    <app-list-actions>
                        <!--                        <app-svg-icon-->
                        <!--                            icon="download"-->
                        <!--                            class="files__file-action"-->
                        <!--                            size="0.875rem"-->
                        <!--                            (click)="onDocumentDelete(item)"-->
                        <!--                        />-->
                        <!--                        <app-svg-icon-->
                        <!--                            icon="preview"-->
                        <!--                            class="files__file-action"-->
                        <!--                            size="1rem"-->
                        <!--                            (click)="onDocumentDelete(item)"-->
                        <!--                        />-->
                        <app-svg-icon
                            icon="x"
                            size="1rem"
                            class="files__close-action"
                            (click)="onDelete(item)"
                        />
                    </app-list-actions>
                </div>
            </app-list-row>
        </ng-template>
    </app-list>
</div>
