@if (isLoaded ) {
<app-flow-header
    [graphName]="graph.name"
    [graphId]="graph.id"
    [isSaving]="isSaving"
    [isRunning]="isRunning"
    [hasUnsavedChanges]="hasUnsavedChanges()"
    (save)="handleSaveFlow(true).subscribe()"
    (viewSessions)="handleViewSessions()"
    (run)="handleRunFlow()"
    (getCurl)="handleGetCurl()"
></app-flow-header>

<div class="body">
    <app-flow-graph
        [flowState]="graph.metadata"
        [nodesMode]="'flow-graph'"
        [currentFlowId]="graph.id"
        (save)="handleSaveFlow(true).subscribe()"
    ></app-flow-graph>
</div>
} @else {

<app-spinner
    [text]="'Loading flow...'"
    [accentColor]="'#6562f5'"
    [isOverlay]="false"
></app-spinner>

}
