<div class="stats-row">
    @for (stat of stats; track stat.label) {
        <app-stat-card
            [icon]="stat.icon"
            [title]="stat.label"
            [value]="stat.value"
            [deltaValue]="stat.delta"
            [deltaColor]="'green'"
            [deltaDirection]="'increase'"
            [deltaLabel]="'this month'"
        />
    }
</div>

<!-- Organizations -->
<div class="section">
    <div class="header">
        <h2 class="title">Organizations</h2>
        <app-button type="outline-primary" mod="small" leftIcon="plus" (click)="onCreateOrganization()"
            >Create Organization</app-button
        >
    </div>

    <div class="orgs-grid">
        @for (org of organizations; track org.id) {
            <app-org-card [organization]="org" />
        }
        <!-- Create New Team -->
        <div class="org-card-create" (click)="onCreateOrganization()">
            <app-svg-icon class="plus" icon="plus" size="30px" />
            <span class="label">Create New Organization</span>
        </div>
    </div>
</div>
