<div class="staff-page-container">
    <div class="header-section">
        <header class="header">
            <div class="header-titles">
                <h1 class="title">
                    Staff
                    <span class="subtitle-inline"
                        >Manage your AI agents and their capabilities.</span
                    >
                </h1>
            </div>
            <div class="header-actions">
                <!-- <app-filters-list
          [searchPlaceholder]="'Search agents...'"
          [showTags]="true"
        ></app-filters-list> -->
                <app-button
                    type="primary"
                    class="btn-primary create-btn"
                    [leftIcon]="'ui/plus'"
                    (click)="openCreateAgentDialog()"
                >
                    Create agent
                </app-button>
            </div>
        </header>
    </div>
    <section class="body">
        <!-- Loading Spinner -->
        <div *ngIf="isLoadingAgent" class="loading-overlay">
            <app-loading-spinner
                [message]="'Adding agent...'"
                [size]="'md'"
            ></app-loading-spinner>
        </div>

        <app-agents-table [newAgent]="newlyCreatedAgent"></app-agents-table>
    </section>
</div>
