.staff-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-section {
    width: 100%;
    padding: 2rem 2.5rem 0;
    box-sizing: border-box;
    background-color: var(--color-background-body);
    margin-bottom: 1rem;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .header-titles {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--color-text-primary);
            }

            .subtitle-inline {
                margin-left: 0.7rem;
                font-size: 1.1rem;
                font-weight: 400;
                color: var(--color-text-secondary);
            }
        }

        .header-actions {
            display: flex;
            align-items: center;
            margin-left: auto;
            gap: 0.75rem;
        }
    }

    .tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        background: transparent;
        border-bottom: 1px solid var(--color-divider-subtle);

        .tabs-left {
            display: flex;
            align-items: center;
        }

        .tabs-right {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}

.body {
    height: 100%;
    padding: 1rem 3rem;
    padding-top: 0;
    overflow: auto;
    position: relative;
}

/* Loading overlay styling */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 18, 18, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(3px);
}
