@if (label()) {
    <app-tooltip
        [required]="required()"
        [tooltipText]="tooltipText()"
        [label]="label()"
    />
}

<div class="time-picker">
    <div
        class="time-picker__trigger"
        #triggerEl
        [class.time-picker__trigger--open]="isOpen()"
        [class.time-picker__trigger--disabled]="isDisabled()"
        [class.time-picker__trigger--error]="errorMessage()"
        [style.--active-color]="activeColor()"
        (click)="openDropdown()"
    >
        <i class="ti ti-clock time-picker__icon"></i>
        <div class="time-picker__time-group">
            <input
                #timeInputEl
                class="time-picker__input"
                [placeholder]="placeholder()"
                [disabled]="isDisabled()"
                [ngModel]="timeInput()"
                (ngModelChange)="onTimeInput($event)"
                (focus)="onFocus()"
                (click)="$event.stopPropagation()"
                (keydown.enter)="onEnterKey()"
            />
        </div>
        <svg
            class="time-picker__chevron"
            [class.time-picker__chevron--open]="isOpen()"
            width="18"
            height="18"
            viewBox="0 0 24 24"
        >
            <path
                d="M6 9l6 6 6-6"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
            />
        </svg>
    </div>
</div>

@if (errorMessage()) {
    <div class="time-picker__error">{{ errorMessage() }}</div>
}

<ng-template #dropdownTemplate>
    <div
        class="time-picker__dropdown"
        [style.--active-color]="activeColor()"
    >
        <div class="time-picker__slots">
            @for (slot of filteredSlots(); track slot) {
                <div
                    class="time-picker__option"
                    [class.time-picker__option--selected]="slot === timeInput()"
                    (click)="selectSlot(slot)"
                >
                    {{ slot }}
                </div>
            }
        </div>
    </div>
</ng-template>
