<section class="chats-content">
    @if (selectedAgent) {
        <app-chat></app-chat>
    } @else {
        <div class="no-agent-message">
            <h3>No Agents Available</h3>
            <p>
                There are currently no agents available for selection. Please visit the Staff page to create a new agent
                and assign a realtime model.
            </p>
            <a
                routerLink="/staff"
                class="action-button"
                >Go to Staff</a
            >
        </div>
    }
</section>
