<div class="dialog-container" [ngClass]="data.type || 'info'">
  <div class="dialog-header">
    <div class="dialog-title-row">
      <span class="dialog-icon">
        <i *ngIf="data.type === 'danger'" class="ti ti-alert-triangle"></i>
        <i *ngIf="data.type === 'warning'" class="ti ti-alert-circle"></i>
        <i
          *ngIf="!data.type || data.type === 'info'"
          class="ti ti-info-circle"
        ></i>
      </span>
      <h2 class="dialog-title">{{ data.title }}</h2>
    </div>
    <app-icon-button
      icon="ui/x"
      size="2rem"
      ariaLabel="Close"
      (click)="onClose()"
      class="close-button"
    ></app-icon-button>
  </div>
  <p class="dialog-message" [innerHTML]="data.message"></p>

  <div class="dialog-actions">
    <button type="button" class="button cancel-button" (click)="onCancel()">
      {{ data.cancelText || "Cancel" }}
    </button>
    <button
      type="button"
      class="button confirm-button"
      [ngClass]="data.type || 'info'"
      (click)="onConfirm()"
    >
      {{ data.confirmText || "Confirm" }}
    </button>
  </div>
</div>
