<div class="stepper">
    @for (step of steps(); track step; let i = $index) {
        <div
            class="stepper__step"
            [ngClass]="{
        'stepper__step--active': i === currentStep(),
        'stepper__step--completed': i < currentStep()
      }"
            [ngStyle]="{ width: `calc(100% / ${steps().length})` }"
        >
            <div class="stepper__circle">
                @if (i < currentStep()) {
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15px"
                        height="15px"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 12l5 5l10 -10" />
                    </svg>
                } @else {
                    {{ i + 1 }}
                }
            </div>

            <div class="stepper__label">
                {{ step }}
            </div>
        </div>
    }
</div>
