<div class="expand-panel">
    <div
        class="expand-panel__header"
        (click)="expandedState.set(!expandedState())"
    >
        <app-svg-icon
            class="expand-panel__arrow"
            [icon]="expandedState() ? 'chevron-down' : 'chevron-right'"
            size="1rem"
        />
        <app-tooltip
            [required]="required()"
            [tooltipText]="tooltipText()"
            [label]="label()"
            [icon]="icon()"
        />
    </div>

    <div
        class="collapsible-content"
        [@expandCollapse]="expandedState() ? 'expanded' : 'collapsed'"
    >
        <ng-content></ng-content>
    </div>
</div>
