<div class="menu-container" [ngClass]="{ 'menu-active': isMenuOpen() }">
    <button
        class="menu-button"
        [class.active]="isMenuOpen()"
        title="Options"
        (click)="toggleMenu($event)"
        (mouseenter)="onButtonEnter()"
        (mouseleave)="onButtonLeave()"
    >
        <app-icon icon="ui/dots-vertical" size="1rem"></app-icon>
    </button>
    <div
        class="context-menu"
        *ngIf="isMenuOpen()"
        (mouseenter)="onMenuEnter()"
        (mouseleave)="onMenuLeave()"
    >
        <app-flow-menu-item
            label="Run"
            (itemClick)="onActionClick($event, 'run')"
        ></app-flow-menu-item>
        <app-flow-menu-item
            label="Rename"
            (itemClick)="onActionClick($event, 'rename')"
        ></app-flow-menu-item>
        <app-flow-menu-item
            label="Copy"
            (itemClick)="onActionClick($event, 'copy')"
        ></app-flow-menu-item>
        <app-flow-menu-item
            label="Delete"
            [isDelete]="true"
            (itemClick)="onActionClick($event, 'delete')"
        ></app-flow-menu-item>
    </div>
</div>
