@if (label()) {
    <app-tooltip
        [required]="required()"
        [tooltipText]="tooltipText()"
        [label]="label()"
    />
}

<app-json-editor
    [jsonData]="jsonValue()"
    [title]="title()"
    [editorHeight]="editorHeight()"
    [fullHeight]="fullHeight()"
    [showHeader]="showHeader()"
    [collapsible]="collapsible()"
    [allowCopy]="allowCopy()"
    [editorOptions]="editorOptions"
    (jsonChange)="onJsonChange($event)"
    (validationChange)="onValidationChange($event)"
/>
