<div class="projects-list-page">
    <div class="sticky-header">
        <header class="header">
            <div class="header-titles">
                <h1 class="title">
                    Templates
                    <span class="subtitle-inline"
                        >A template is a workspace to organize your AI agents and
                        tasks.</span
                    >
                </h1>
            </div>
            <div class="header-actions">
                <app-button
                    type="primary"
                    class="btn-primary create-btn"
                    [leftIcon]="'ui/plus'"
                    (click)="openCreateProjectDialog()"
                >
                    Create template
                </app-button>
            </div>
        </header>
        <nav class="tabs">
            <div class="tabs-left">
                @for (tab of tabs; track tab.link) {
                <app-tab-button
                    routerLink="{{ tab.link }}"
                    routerLinkActive="active"
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                >
                    {{ tab.label }}
                </app-tab-button>
                }
            </div>
            <div class="tabs-right">
                <!-- <app-project-tags-filter (change)="onProjectTagsChange($event)">
                </app-project-tags-filter> -->

                <div class="search-container">
                    <app-icon
                        icon="ui/search"
                        class="search-icon"
                        size="1.1rem"
                    ></app-icon>
                    <input
                        type="text"
                        class="search-input"
                        placeholder="Search templates..."
                        [(ngModel)]="searchTerm"
                        (ngModelChange)="onSearchTermChange($event)"
                    />
                    @if (searchTerm) {
                    <button
                        type="button"
                        class="clear-btn"
                        aria-label="Clear"
                        (click)="clearSearch()"
                    >
                        <app-icon icon="ui/x" size="1.1rem"></app-icon>
                    </button>
                    }
                </div>
            </div>
        </nav>
    </div>
    <section class="body">
        <router-outlet></router-outlet>
    </section>
</div>
