<div
    class="dialog-container"
    [ngClass]="data.type || 'warning'"
>
    <div class="dialog-header">
        <div class="dialog-title-row">
            <span class="dialog-icon">
                <app-svg-icon
                    icon="alert-circle"
                    size="2.2rem"
                />
            </span>
            <h2 class="dialog-title">{{ data.title }}</h2>
        </div>
        <app-icon-button
            icon="x"
            size="2rem"
            ariaLabel="Close"
            (click)="onClose()"
            class="close-button"
        ></app-icon-button>
    </div>
    <div class="dialog-divider"></div>
    <p
        class="dialog-message"
        [innerHTML]="data.message"
    ></p>

    <div class="dialog-actions">
        <button
            type="button"
            class="button cancel-button"
            (click)="onCancel()"
        >
            {{ data.cancelText || 'Cancel' }}
        </button>
        <div class="right-buttons">
            <button
                *ngIf="data.showDontSave !== false"
                type="button"
                class="button dont-save-button"
                (click)="onDontSave()"
            >
                {{ data.dontSaveText || "Don't Save" }}
            </button>
            <button
                type="button"
                class="button save-button"
                [ngClass]="data.type || 'warning'"
                (click)="onSave()"
                [disabled]="isSaving"
            >
                <span *ngIf="!isSaving">{{ data.saveText || 'Save' }}</span>
                <span
                    *ngIf="isSaving"
                    class="loading-content"
                >
                    <app-spinner2 [size]="16" />
                </span>
            </button>
        </div>
    </div>
</div>
