<div class="language-selector" clickOutside (clickOutside)="isOpen = false">
  <!-- <label *ngIf="label">{{ label }}</label> -->
  <div class="selector" [class.disabled]="disabled" (click)="toggleDropdown()">
    <div class="selected-language">{{ getSelectedLanguageName() }}</div>
    <div class="selector-arrow" [class.open]="isOpen">
      <svg
        width="10"
        height="6"
        viewBox="0 0 10 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1L5 5L9 1"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>

  <div class="dropdown-menu" *ngIf="isOpen">
    <div
      *ngFor="let lang of languages"
      class="dropdown-item"
      [class.selected]="lang.id === selectedLanguage"
      (click)="selectLanguage(lang.id)"
    >
      {{ lang.name }}
    </div>
  </div>
</div>
