<div class="flow-action-panel">
    <div class="action-buttons">
        @for (action of actionIcons; track action.action) {
            <button
                class="action-button"
                [matTooltip]="action.tooltip"
                matTooltipPosition="right"
                [disabled]="isActionDisabled(action.action)"
                (click)="handleAction(action.action)"
            >
                <app-svg-icon [icon]="action.icon"></app-svg-icon>
            </button>
        }
    </div>
</div>
