<div class="flow-action-panel">
    <div class="action-buttons">
        @for (action of actionIcons; track action.icon) {
            <button
                class="action-button"
                [attr.title]="action.tooltip"
                (click)="handleAction(action.action)"
            >
                <app-svg-icon [icon]="action.icon"></app-svg-icon>
            </button>
        }
        <button
            class="action-button"
            title="Auto arrange"
            [disabled]="!canAutoArrange()"
            (click)="autoArrangeRequested.emit()"
        >
            <app-svg-icon icon="auto-arrange"></app-svg-icon>
        </button>
    </div>
</div>
