<div class="dialog">
    <div class="header">
        <span class="title">Verify your identity</span>
        <button
            class="close"
            type="button"
            (click)="onCancel()"
        >
            <app-svg-icon
                icon="x"
                size="18px"
            />
        </button>
    </div>

    <div class="body">
        @if (step() === 'verify') {
            <app-custom-input
                label="Current Password"
                type="password"
                placeholder="Enter value..."
                [formControl]="currentPasswordControl"
            />
            <app-validation-errors [control]="currentPasswordControl" />
        } @else {
            <app-custom-input
                label="New Password"
                type="password"
                placeholder="Enter value..."
                [formControl]="newPasswordControl"
            />
            <app-validation-errors [control]="newPasswordControl" />
            <app-password-strength [password]="newPassword" />

            <app-custom-input
                label="Confirm New Password"
                type="password"
                placeholder="Repeat the password..."
                [formControl]="confirmPasswordControl"
            />
            <app-validation-errors [control]="confirmPasswordControl" />
        }
    </div>

    <div class="footer">
        <app-button
            type="outline-primary"
            (click)="onCancel()"
            >Cancel</app-button
        >
        @if (step() === 'verify') {
            <app-button
                type="primary"
                [disabled]="loading()"
                (click)="onVerify()"
                >Continue</app-button
            >
        } @else {
            <app-button
                type="primary"
                [disabled]="loading()"
                (click)="onSubmit()"
                >Continue</app-button
            >
        }
    </div>
</div>
