<div class="search" [ngClass]="'search--mod-' + mod()" [style.width]="width()">
    <app-svg-icon
        icon="search"
        class="search__icon"
        size="1.1rem"
    />

    <input
        type="text"
        class="search__input"
        [class.search__input--with-clear]="!!searchTerm()"
        [placeholder]="placeholder()"
        [ngModel]="searchTerm()"
        (ngModelChange)="onSearchTermChange($event)"
    />

    @if (searchTerm()) {
        <button type="button" class="search__clear-btn" aria-label="Clear" (click)="clearSearch()">
            <app-svg-icon icon="x" size="1.1rem" />
        </button>
    }
</div>
