<div class="search-wrapper" [style.width]="width">
  <app-icon [icon]="icon" class="search-app-icon" size="1.1rem"></app-icon>
  <input
    #searchInput
    type="text"
    [value]="value"
    (input)="onInput(searchInput.value)"
    [placeholder]="placeholder"
    class="search-input"
    [attr.aria-label]="ariaLabel"
    appSearchShortcut
    (clearByShortcut)="clear()"
  />
  @if (value) {
  <button type="button" class="clear-btn" aria-label="Clear" (click)="clear()">
    <app-icon icon="ui/x" size="1.1rem"></app-icon>
  </button>
  }
</div>
