@if (isDragging()) {
    <div
        class="drag-area"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
    >
        <h3 class="drag-area__title">Upload files</h3>
        <p class="drag-area__label">Drag and drop files here or click to upload</p>
        <div class="drag-area__button">
            <app-icon icon="ui/upload" size="2rem" />
        </div>
    </div>
}
<div
    class="list"
    (dragover)="onDragOver($event)"
>
    <div class="list__title">
        <span>Selected Files: <span class="list__title--count">({{documents().length}})</span></span>
        @if (hasInvalidFiles()) {
            <div class="list__file-error list__file-error--medium">File validation errors</div>
        }
        <app-button type="outline-primary" (click)="onAddMore()">
            + Add More Files
        </app-button>

        <input
            #fileInput
            id="file"
            type="file"
            multiple
            style="display: none"
            (change)="onFileSelect($event)"
        />
    </div>

    <div class="list__files-wrapper">
        <ol class="list__files">
            @for (d of documents(); track d.document_id; let i = $index; let odd = $odd ) {
                <li
                    class="list__file"
                    [class.list__file--dark]="odd">

                    <span class="list__file-index">{{ i + 1 }}</span>
                    <app-icon icon="ui/document" size="0.75rem" />
                    <span class="list__file-name">{{ d.file_name }}</span>
                    <span class="list__file-size">{{ d.file_size | fileSize }}</span>
                    <div
                        [class.list__file-error]="!d.isValidSize || !d.isValidType"
                        [class.list__file-error--small]="!d.isValidSize || !d.isValidType"
                    >
                        @if (!d.isValidType) {
                            Invalid file type
                        } @else if (!d.isValidSize) {
                            File size is too big
                        }
                    </div>
                    <div></div>
                    <app-icon
                        icon="ui/close"
                        class="list__file-action"
                        size="1rem"
                        (click)="onDelete(d)"
                    />
                </li>
            }
        </ol>
    </div>
</div>
