:host {
    position: relative;
}

.drag-area {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: var(--color-ks-transparent-black-60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--color-ks-button-activated);
        margin-bottom: 1rem;
    }

    &__label {
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
        color: var(--color-ks-text);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160px;
        width: 160px;
        border-radius: 10px;
        border: 2px dashed var(--color-input-border);
        background-color: var(--color-divider-subtle);
        color: var(--color-ks-button-activated);
    }
}

.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0 0 2.5rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        padding-right: 1.875rem;
        font-size: 0.875rem;
        font-weight: 130;

        &--count {
            color: var(--accent-color);
        }
    }

    &__files-wrapper {
        overflow: auto;
        margin-right: 0.7rem;
        padding-bottom: 2rem;
    }

    &__files {
        width: 574px;
        border-radius: 10px;
        border: 1px solid var(--color-divider-subtle);
    }

    &__file {
        display: grid;
        grid-template-columns:
            0.75rem    /* index */
            1rem       /* icon */
            7rem       /* name */
            2.5rem     /* size */
            5.2rem     /* error */
            auto       /* spacer */
            1rem;      /* button */
        align-items: center;
        column-gap: 0.25rem;
        cursor: pointer;
        font-size: 0.625rem;
        padding: 0.5rem 0.625rem;

        &--dark {
            background-color: var(--color-drag-drop-active);
        }

        &--selected {
            background-color: var(--color-ks-line);
        }

        &:hover {
            background-color: var(--color-ks-line);
        }
    }

    &__file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__file-size {

    }

    &__file-error {
        border-radius: 5px;
        background-color: var(--color-ks-transparent-red);
        color: var(--color-ks-status-failed);
        padding: 0.25rem 0.5rem;

        &--medium {
            font-size: 0.875rem;
        }

        &--small {
            font-size: 0.625rem;
        }
    }

    &__file-action {
        border-radius: 50%;
        &:hover {
            transition: .3s;
            background-color: var(--color-ks-hover-row);
        }
    }
}
