<ul class="rags">
    <li class="rags__item">
        <app-svg-icon
            icon="mouse"
            size="0.75rem"
        />
        <span class="rags__name">Naive RAG</span>
        <span class="rags__model">gpt-4o-mini</span>
        <app-svg-icon
            icon="arrow-right"
            size="1rem"
            class="rags__nav rags__nav--action"
            (click)="onConfigureNaiveRag('naive')"
        />
    </li>

    <li
        class="rags__item"
        style="cursor: not-allowed"
    >
        <app-svg-icon
            icon="web"
            size="0.75rem"
        />
        <span class="rags__name">Graph RAG</span>
        <span class="rags__model">gpt-4o-mini</span>
        <app-svg-icon
            icon="arrow-right"
            size="1rem"
            class="rags__nav"
            (click)="onConfigureNaiveRag('graph')"
        />
    </li>
    <li
        class="rags__item"
        style="cursor: not-allowed"
    >
        <app-svg-icon
            icon="tab-group"
            size="0.75rem"
        />
        <span class="rags__name">Hybrid RAG</span>
        <span class="rags__model">gpt-4o-mini</span>
        <app-svg-icon
            icon="arrow-right"
            size="1rem"
            class="rags__nav"
        />
    </li>
</ul>
