@if (!collection().rag_configurations.length) {
    <div class="empty">
        <p class="title">No RAG initialized yet</p>
        <p class="description">Press "+" to index your files</p>
    </div>
} @else {
    <ul class="rags">
        @for (config of collection().rag_configurations; track config.rag_id) {
            <li class="item">
                <app-svg-icon
                    [icon]="ragTypeConfig[config.rag_type].icon"
                    size="0.75rem"
                />
                <span class="name">{{ ragTypeConfig[config.rag_type].name }}</span>
                <span class="model">{{ config.embedder_name }}</span>
                <div
                    class="status"
                    [style.color]="ragStatusConfig[config.status].color"
                >
                    <app-svg-icon
                        [icon]="ragStatusConfig[config.status].icon"
                        size="1rem"
                    />
                    {{ ragStatusConfig[config.status].text }}
                </div>
                <app-svg-icon
                    icon="arrow-right"
                    size="1rem"
                    class="nav action"
                    (click)="onConfigureRag(config.rag_type)"
                />
            </li>
        }
    </ul>
}
