<div class="header">
  <div class="icon-wrapper">
    <i class="ti ti-brain"></i>
  </div>
  <div class="title">
    {{ node.data.custom_name }}
  </div>
</div>
<!-- <div class="node-details" *ngIf="parentExpanded()">

  <div class="detail-block">
    <div class="detail-header">
      <span class="detail-label">API Key</span>
    </div>
    <div class="detail-content">
      <p class="detail-text">************</p>
    </div>
  </div>

  <div class="detail-block">
    <div class="detail-header">
      <span class="detail-label">Temperature</span>
    </div>
    <div class="detail-content">
      <p class="detail-text">{{ data.temperature * 10 }}%</p>
    </div>
  </div>
</div> -->
