.header {
  display: flex;
  align-items: center;
  gap: 1.3rem;

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: var(--llm-node-accent-color);

      font-size: 25px;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// .node-details {
//   padding-top: 1rem;
//   font-family: Arial, sans-serif; // Or your desired font

//   .detail-block {
//     margin-bottom: 1.5rem;

//     &:last-child {
//       margin-bottom: 0;
//     }

//     .detail-header {
//       margin-bottom: 0.5rem;

//       .detail-label {
//         font-size: 12px;
//         text-transform: uppercase;
//         color: #dbdbdb;
//         letter-spacing: 0.5px;
//       }
//     }

//     .detail-content {
//       .detail-text {
//         font-size: 14px;
//         color: #cfcfcf;
//         line-height: 1.4;
//         overflow-wrap: break-word;
//         margin: 0;
//       }
//     }

//     .toggle-link {
//       margin-top: 0.5rem;
//       font-size: 12px;
//       color: var(--llm-node-accent-color);
//       cursor: pointer;
//       user-select: none;

//       &:hover {
//         text-decoration: underline;
//       }
//     }
//   }
// }
