:host {
    width: 100%;
}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: 1px solid var(--color-divider-subtle);
    background: var(--color-input-background);
    font-size: 0.875rem;
    resize: vertical;
    transition: border 0.2s ease;
    color: var(--color-ks-text);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &.invalid {
        border-color: #e53935;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}
