<div class="dialog-container">
    <!-- Header Section -->
    <div class="header">
        <div class="icon-and-title">
            <app-svg-icon icon="settings" size="1.5rem" />
            <h2 class="dialog-title">Advanced Settings for {{ data.role }}</h2>
        </div>
        <app-icon-button icon="x" ariaLabel="Close dialog" size="2rem" (onClick)="dialogRef.close()"> </app-icon-button>
    </div>
    <div class="tabs">
        @for (tab of tabs; track tab.id) {
            <app-tab-button [mod]="'sm'" [active]="tab.id === activeTab()" (click)="activeTab.set(tab.id)">
                {{ tab.label }}
            </app-tab-button>
            @if (!$last) {
                <div class="divider">/</div>
            }
        }
    </div>

    <div class="scrollable-content">
        <app-general-tab
            class="tab-content"
            [class.visible-tab]="activeTab() === TabId.GENERAL"
            [form]="form"
            [combinedLLMs]="combinedLLMs"
            [loadingLLMs]="loadingLLMs()"
        />
        <app-rag-tab
            class="tab-content"
            [class.visible-tab]="activeTab() === TabId.RAG"
            [form]="form"
            [allKnowledgeSources]="allKnowledgeSources"
            [agentRags]="agentRags"
            [searchConfigs]="data.search_configs"
            [loadingKnowledgeSources]="loadingKnowledgeSources()"
            [loadingRags]="loadingRags()"
        />
        <!--    Might be used in the future-->
        <!--    <app-llm-params-tab-->
        <!--        class="tab-content"-->
        <!--        [class.visible-tab]="activeTab() === TabId.LLM_PARAMS"-->
        <!--        [form]="form"-->
        <!--    />-->
        <app-execution-tab class="tab-content" [class.visible-tab]="activeTab() === TabId.EXECUTION" [form]="form" />
        <app-advanced-tab class="tab-content" [class.visible-tab]="activeTab() === TabId.ADVANCED" [form]="form" />
    </div>

    <!-- Action Buttons -->
    <div class="actions">
        <button class="btn-cancel" (click)="dialogRef.close()">Cancel</button>
        <button class="btn-save" [disabled]="form.invalid" (click)="save()">Save Changes</button>
    </div>
</div>
