.tab {
    padding: 1.25rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__title {
        font-size: 20px;
        font-weight: 400;
        color: var(--color-text-primary);
        margin-top: 0;
        margin-bottom: 8px;
    }

    &__subtitle {
        font-size: 14px;
        color: var(--color-text-secondary);
        margin-top: 0;
    }

    &__ngrok-config-list {
        display: flex;
        flex-direction: column;
    }

    &__loading-state {
        text-align: center;
        padding: 2rem;
        color: var(--color-text-secondary);

        &--error {
            color: var(--color-error);
            p {
                margin-bottom: 1rem;
            }
        }
    }
}
